  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');   
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
}section{
    display: flex;
    width: 800px;
    height: 500px;
    padding: 10px;
}
div{
    padding: 35px;
}
div:nth-child(1){
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}div:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}div:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}h2{
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 100%);
    margin: 30px 0;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.3;
}button{
    margin-top: 100px;
    height: 40px;
    width: 140px;
    border-radius: 25px;
    border: 0;
    font-weight: bold;
}.SEDANS{
    color: hsl(31, 77%, 52%);;
}.SEDANS:hover{
    color: #fff;
    background-color: hsl(31, 77%, 52%);
    border: 1px solid hsl(0, 0%, 100%);
}.SUVS{
    color: hsl(184, 100%, 22%);
}.SUVS:hover{
    color: #fff;
    background-color: hsl(184, 100%, 22%);
    border: 1px solid hsl(0, 0%, 100%);
}.LUXURY{
    color: hsl(179, 100%, 13%);
}.LUXURY:hover{
    color: #fff;
    background-color: hsl(179, 100%, 13%);
    border: 1px solid hsl(0, 0%, 100%);
}.attribution { 
    font-size: 11px; 
    text-align: center; 
}